* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding: 0 20px 40px;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
/*-----------------------------------Sidebar------------------------------*/

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 0;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
  display: block;
  margin: 0;
  padding: 0;
}

.contacts-container {
  margin: 40px 40px 0;
  color: #ffffff;
}

.contacts-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contacts-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #d8dadd;
}

.contacts-link:hover,
.projects-link:hover {
  color: #ff6d08;
}

/*-----------------------------------Main------------------------------*/
.tech-skills-container {
  margin: 40px 40px 0;
  color: #ffffff;
}

.tech-skills-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6d08;
}

.tech-skills-text {
  color: #d8dadd;
}

.about-me-container {
  padding: 60px 60px;
}

.soft-skills-container {
  margin: 40px 40px 0;
  color: #ffffff;
}

.info-container {
  margin-bottom: 35px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  text-indent: 2em; /* відступ першого рядка */
  margin-bottom: 16px; /* відступ між параграфами */
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-container {
  margin-bottom: 65px;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #595959;
  font-weight: 100;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profession-company {
  color: #ff7011;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.profession-divider {
  color: #000000;
}

.profession-duties {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.education-time {
  color: #ff7011;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
